{
    "ci": false,
    "branches": [
        "main",
        {
            "name": "dev",
            "prerelease": "beta"
        }
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "parserOpts": {
                    "mergePattern": "Merged PR .*:"
                }
            }
        ],
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/git",
        [
            "semantic-release-ado",
            {
                "varName": "version",
                "setOnlyOnRelease": true
            }
        ],
        [
            "@semantic-release/exec",
            {
                "publishCmd": "./ci/prepare.sh ${nextRelease.version}"
            }
        ]
    ]
}
